@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400i");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #e1e3e2;
  font-family: 'Philosopher', sans-serif;
  font-weight: 800; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none; }

.main-logo {
  float: left;
  margin-top: 7px;
  position: relative; }
  .main-logo .top_logo {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    .main-logo .top_logo img {
      width: 85px;
        width-height: auto; }
  .main-logo .site-name {
    display: inline-block;
    margin-left: 5px;
    min-width: 355px;
    position: relative; }
    .main-logo .site-name h1 {
      min-width: 355px;
      margin: 0;
      font-family: 'Philosopher', sans-serif;
      font-weight: 600;
      font-size: 32px;
      position: absolute;
      bottom: 6px; }
    .main-logo .site-name h2 {
      min-width: 355px;
      margin: 0;
      font-family: 'Philosopher', sans-serif;
      font-weight: 600;
      font-size: 16px;
      position: absolute;
      top: -5px; }

.entrance {
  text-align: right;
  font-size: 17px;
  margin: 30px 30px 0 0; }
  .entrance i {
    margin-right: 5px;
    font-size: 21px; }

.wrap_main_menu .main_menu {
  background-color: rgba(135, 195, 160, 0.95);
  max-width: 955px;
  margin: -10px auto 0;
  color: #000;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 16px;
  position: relative;
  z-index: 1; }
  .wrap_main_menu .main_menu ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height: auto; }
    .wrap_main_menu .main_menu ul li {
      display: inline-block;
      list-style-type: none;
      vertical-align: middle;
      overflow: hidden;
      height: auto;
      padding: 30px 10px;
      margin: 5px 0;
      position: relative;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s; }
      .wrap_main_menu .main_menu ul li:hover {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
      .wrap_main_menu .main_menu ul li:active {
        background-color: rgba(135, 195, 160, 0.85);
        -webkit-border-radius: 5px;
                border-radius: 5px; }
      .wrap_main_menu .main_menu ul li a {
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: middle; }

h3 {
  font-family: 'Philosopher', sans-serif;
  position: relative;
  display: block;
  margin: 15px 0px 33px 0px;
  padding: 10px 70px;
  font-weight: 900;
  font-size: 30px;
  overflow: hidden;
  color: #333;
  text-align: left;
  background-image: url(../img/icon/mark1.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-x: 0px;
  text-decoration: none;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }
  h3:hover {
    text-decoration: none;
    background-image: url(../img/icon/mark.png); }

.description {
  margin: 15px auto 10px;
  position: relative; }
  .description .img_border {
    padding: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .description .img_border img {
      width: 100%;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
  .description .share {
    text-align: center; }
    .description .share p {
      margin: 8px 0 8px;
      font-size: 20px; }
    .description .share .s_social .fa {
      width: 25px;
      height: 25px;
      color: #fff;
      text-align: center;
      font-size: 15px;
      display: inline-block;
      padding: 5px;
      margin-right: 5px;
      background-color: #999;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      line-height: 16px; }
  .description .information {
    font-size: 22px;
    font-weight: 600;
    color: #6c9682;
    margin-top: -2px;
    padding-left: 20px; }
    .description .information div {
      margin: 2px 0 2px; }
      .description .information div span {
        margin-right: 20px;
        font-size: 24px;
        color: #333; }
  .description .album h4 {
    font-size: 24px;
    color: #333;
    font-weight: 600; }
  .description .album .foto_wrap {
    height: 300px; }
  .description .others_dog {
    width: 165px;
    height: 458px;
    border: 1px #000 dashed;
    padding: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: rgba(135, 195, 160, 0.3);
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -226px; }
    .description .others_dog p {
      text-align: center;
      font-size: 18px;
      line-height: 19px; }
    .description .others_dog img {
      width: 100%;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      margin: 5px 0 5px; }
    .description .others_dog .o_dog_name {
      text-align: center;
      font-size: 17px; }
