@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400i");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #e1e3e2;
  font-family: 'Philosopher', sans-serif;
  font-weight: 800; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none; }

li {
  list-style-type: none; }



.description {
  margin: 15px auto 10px;
  position: relative; }
  .description .img_border {
    padding: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .description .img_border img {
      width: 100%;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
  .description .share {
    text-align: center; }
    .description .share p {
      margin: 8px 0 8px;
      font-size: 20px; }
    .description .share .s_social .fa {
      width: 25px;
      height: 25px;
      color: #fff;
      text-align: center;
      font-size: 15px;
      display: inline-block;
      padding: 5px;
      margin-right: 5px;
      background-color: #999;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      line-height: 16px; }
  .description .information {
    font-size: 22px;
    font-weight: 600;
    color: #6c9682;
    margin-top: -2px;
    padding-left: 20px; }
    .description .information div {
      margin: 2px 0 2px; }
      .description .information div span {
        margin-right: 20px;
        font-size: 24px;
        color: #333; }
  .description .others_dog {
    width: 165px;
    height: 458px;
    border: 1px #000 dashed;
    padding: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: rgba(135, 195, 160, 0.3);
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -226px; }
    .description .others_dog p {
      text-align: center;
      font-size: 18px;
      line-height: 19px; }
    .description .others_dog img {
      width: 100%;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      margin: 5px 0 5px; }
    .description .others_dog .o_dog_name {
      text-align: center;
      font-size: 17px; }

.album h4 {
  font-size: 26px;
  color: #333;
  font-weight: 600;
  margin: 40px 0 40px; }

.album .foto_wrap {
  font-size: 0;
  vertical-align: middle; }
  .album .foto_wrap ul {
    padding: 0;
    display: flex-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .album .foto_wrap ul li {
      display: inline-block !important;
      list-style-type: none;
      width: 18%;
      overflow: hidden;
      margin: 0 1% 4% 1%;
      vertical-align: middle; }
      .album .foto_wrap ul li img {
        display: inline-block;
        width: 100%; }
