@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400i");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

body {
    background-color: #e1e3e2;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 17px; }

a {
    text-decoration: none;
    color: #000; }
a:hover {
    text-decoration: none; }
h3 {
    font-family: 'Philosopher', sans-serif;
    position: relative;
    display: block;
    margin: 20px 0 20px 0;
    padding: 10px 100px;
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
    overflow: hidden;
    color: #000;
    text-align: center;
    background-image: none;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position-x: 30px;
    text-decoration: none;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
h3:hover {
    text-decoration: none;
    background-image: none; }
h4{
    font-size: 22px;
    padding: 0 0 0 80px;
    font-weight: 600;
    margin: 21px 0px;
    background-image: url(../img/icon/mark1.png);
    background-repeat: no-repeat;
    background-position-x: 40px;
    -webkit-background-size: contain;
    background-size: contain;
}
h5{
    font-size: 19px;
    padding: 0 0 0 30px;
}
.thanks{
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
}
.thanks i{
    margin-left: 10px;
    margin-right: 10px;
}