@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400i");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #e1e3e2;
  font-family: 'Philosopher', sans-serif;
  font-weight: 800; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none; }

.main-logo {
  float: left;
  margin-top: 7px;
  position: relative; }
  .main-logo .top_logo {
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    .main-logo .top_logo img {
      width: 85px;
        width-height: auto; }
  .main-logo .site-name {
    display: inline-block;
    margin-left: 5px;
    min-width: 355px;
    position: relative; }
    .main-logo .site-name h1 {
      min-width: 355px;
      margin: 0;
      font-family: 'Philosopher', sans-serif;
      font-weight: 600;
      font-size: 32px;
      position: absolute;
      bottom: 6px; }
    .main-logo .site-name h2 {
      min-width: 355px;
      margin: 0;
      font-family: 'Philosopher', sans-serif;
      font-weight: 600;
      font-size: 16px;
      position: absolute;
      top: -5px; }

.entrance {
  text-align: right;
  font-size: 17px;
  margin: 30px 30px 0 0; }
  .entrance i {
    margin-right: 5px;
    font-size: 21px; }

.wrap_main_menu .main_menu {
  background-color: rgba(135, 195, 160, 0.95);
  max-width: 955px;
  margin: -10px auto 0;
  color: #000;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 16px;
  position: relative;
  z-index: 1; }
  .wrap_main_menu .main_menu ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height: auto; }
    .wrap_main_menu .main_menu ul li {
      display: inline-block;
      list-style-type: none;
      vertical-align: middle;
      overflow: hidden;
      height: auto;
      padding: 30px 10px;
      margin: 5px 0;
      position: relative;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s; }
      .wrap_main_menu .main_menu ul li:hover {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
      .wrap_main_menu .main_menu ul li:active {
        background-color: rgba(135, 195, 160, 0.85);
        -webkit-border-radius: 5px;
                border-radius: 5px; }
      .wrap_main_menu .main_menu ul li a {
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: middle; }

.slider_wrap {
  z-index: 2 !important;
  margin-top: -46px !important; }
  .slider_wrap .bx-pager-item {
    display: inline-block; }
    .slider_wrap .bx-pager-item .bx-pager-link {
      display: inline-block;
      font-size: 0;
      width: 12px;
      height: 12px;
      background-color: #e1e3e2;
      margin: 2px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      border: 1px #000 solid; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: rgba(135, 195, 160, 0.95); }

.bx-wrapper {
  position: relative; }

.bx-has-pager {
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin-left: -5px; }

h3 {
  font-family: 'Philosopher', sans-serif;
  position: relative;
  display: block;
  margin: 5px 0px 30px 0px;
  padding: 10px 100px;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  overflow: hidden;
  color: #000;
  text-align: left;
  background-image: url(../img/icon/mark1.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-x: 30px;
  text-decoration: none;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }
  h3:hover {
    text-decoration: none;
    background-image: url(../img/icon/mark.png); }

.pets {
  padding: 40px 0 10px; }
  .pets .bx-wrapper {
    margin-left: 28px;
    position: relative; }
    .pets .bx-wrapper .bx-controls-direction {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .pets .bx-wrapper .bx-controls-direction > a {
        width: 35px;
        height: 35px;
        font-size: 18px;
        color: #000;
        background-color: #b9bebc;
        position: absolute;
        text-align: center;
        line-height: 35px;
        -webkit-border-radius: 25px;
                border-radius: 25px;
        top: 50px; }
        .pets .bx-wrapper .bx-controls-direction > a:hover {
          background-color: rgba(135, 195, 160, 0.95); }
        .pets .bx-wrapper .bx-controls-direction > a:active {
          background-color: rgba(101, 178, 133, 0.95); }
      .pets .bx-wrapper .bx-controls-direction .bx-prev {
        left: -50px; }
      .pets .bx-wrapper .bx-controls-direction .bx-next {
        right: -50px; }
  .pets .slide img {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px; }

.r_more {
  text-align: right;
  margin-top: 20px; }
  .r_more a {
    display: inline-block;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 17px;
    color: #000;
    border: 1px #000 solid;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s; }
    .r_more a:hover {
      background-color: rgba(135, 195, 160, 0.95); }
    .r_more a:active {
      background-color: rgba(101, 178, 133, 0.95); }

.help_wrap {
  padding: 15px 0 10px;
  text-align: center; }
  .help_wrap .help {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 125px;
    color: #333;
    font-size: 19px;
    border: 1px #000 solid;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    padding: 14px 0px;
    line-height: 20px;
    margin-bottom: 20px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s; }
    .help_wrap .help:hover {
      background-color: rgba(135, 195, 160, 0.95);
      color: #111; }
    .help_wrap .help:active {
      background-color: rgba(101, 178, 133, 0.95); }
    .help_wrap .help img {
      height: 45px;
      display: block;
      margin: 0 auto 10px; }
  .help_wrap .r_more {
    margin-top: 0px; }

.team {
  padding: 15px 0 10px; }
  .team .bx-wrapper {
    margin-left: 28px;
    position: relative; }
    .team .bx-wrapper .bx-controls-direction {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .team .bx-wrapper .bx-controls-direction > a {
        width: 35px;
        height: 35px;
        font-size: 18px;
        color: #000;
        background-color: #b9bebc;
        position: absolute;
        text-align: center;
        line-height: 35px;
        -webkit-border-radius: 25px;
                border-radius: 25px;
        top: 75px; }
        .team .bx-wrapper .bx-controls-direction > a:hover {
          background-color: rgba(135, 195, 160, 0.95); }
        .team .bx-wrapper .bx-controls-direction > a:active {
          background-color: rgba(101, 178, 133, 0.95); }
      .team .bx-wrapper .bx-controls-direction .bx-prev {
        left: -50px; }
      .team .bx-wrapper .bx-controls-direction .bx-next {
        right: -50px; }
    .team .bx-wrapper .slide img {
      -webkit-border-radius: 90px;
              border-radius: 90px;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s; }
    .team .bx-wrapper .slide:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      cursor: pointer; }

.news {
  padding: 15px 0 30px; }
  .news .news_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    border: 1px #000 solid;
    -webkit-border-radius: 10px;
            border-radius: 10px; }

footer {
  padding: 20px 0 10px;
  background-color: rgba(135, 195, 160, 0.95); }
  footer h4 {
    font-size: 23px;
    font-weight: 800;
    margin: 0px 0px 5px 0px;
    padding: 20px 0px 15px 70px;
    overflow: hidden;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  footer p {
    font-weight: 600;
    padding: 15px 0;
    margin: 0; }
  footer ul {
    padding: 0px;
    margin: 0px;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    height: auto; }
    footer ul li {
      display: inline-block;
      list-style-type: none;
      vertical-align: middle;
      overflow: hidden;
      font-size: 13px;
      height: auto;
      padding-right: 8px;
      margin: 10px 0;
      position: relative;
      text-transform: uppercase;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s; }
      footer ul li:after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 15px;
        background-color: #000;
        position: absolute;
        right: 0px;
        bottom: 2px; }
      footer ul li:last-child:after {
        content: "";
        display: none; }
  footer .social {
    padding-top: 19px;
    margin-bottom: 20px;
    font-size: 19px;
    text-align: center; }
    footer .social .s_link {
      margin-top: 5px; }
      footer .social .s_link .fa {
        width: 25px;
        height: 25px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        background-color: rgba(59, 118, 84, 0.95);
        -webkit-border-radius: 5px;
                border-radius: 5px;
        line-height: 16px;
        margin-bottom: 20px; }
  footer .subscribe p {
    font-size: 19px;
    padding: 20px 0px 15px; }
  footer .contacts_wrap {
    font-size: 19px;
    padding-top: 20px;
    text-align: center; }
    footer .contacts_wrap .fa {
      margin-right: 5px; }
